* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

html {

  background-color: #2a2a33;
}

body {
  display: flex;
  height: 100vh;

}

body .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.content header{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Dongle";
  font-size: 2rem;
  color: #22b404;
}

.content .description {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4; 

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Indie Flower";
  font-weight: 700;
  font-size: 1.2rem;
  color: #f3f3f3;
}

.content .description p {
  margin: 1rem 0;
}

.content .game{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;  
}

.content .game canvas {
  display: flex;
  
  margin-top: 4.5rem;
}

.content .counter{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4; 

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 6.5rem;
  font-family: "Dongle";
  color: #f3f3f3;

}

.content .counter p {
  margin: .2rem 0;
}